<header>
    <div class="container">
        <div class="logo">
            <img src="../../assets/img/bemypass.svg" alt="bemypass">
        </div>
        <nav>
            <ul class="menu">
                <li> <a routerLink="/">App Features</a>
                </li>
                <li> <a routerLink="/services">Services</a>
                </li>
                <li> <a href="#">Smart Luggage Tag</a>
                </li>
                <li><a href="#">Business Solutions</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="home">
    <div class="flex-center">
        <div class="text__home">
            <div class="title__text">Travel happens here.</div>
            <div class="sub__text">
                <p>Wherever you go in this world, Bemypass is your
                    <br> smart and handy flight companion. We have
                    <br> developed useful features to make your overall air
                    <br> travel experience effortless as it can be - all in one
                    <br> app, in your pocket.
                </p>
            </div>
            <img style="margin-right: 12px;" src="../../assets/img/app.svg" width="120px" alt="">
            <img src="../../assets/img/googl.png" width="133px" alt="">

        </div>
        <div class="iphone__home">
            <img src="../../assets/img/iphone.jpg" alt="iphone">
        </div>
    </div>
</section>
<section class="flight">
    <div class="container">
        <div class="img__flight">
            <img src="../../assets/img/iphone1.webp" alt="iphone">
        </div>
        <div class="text__flight">
            <div class="title__flight">Relevant flight information
                <br> - always updated.
            </div>
            <div class="sub__text">
                <p>Receive real-time and relevant flight information updates during your
                    <br> travel, conveniently following your steps:
                    <br> Check-in opening and closing times, gate changes, delays, boarding
                    <br> calls, baggage claim carousel.
                </p>

                <p>Additionally, receive real-time updates on duration for security check
                    <br> and queuing times at security check, passport control and customs.
                </p>
            </div>
        </div>
    </div>
</section>